.synth {
  background-image: url('../assets/camo.jpg');
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1 {
  text-align: center;
  color: #cccccc;
  font-size: 5rem;
}
