<h2>Oscillator-{{number}}</h2>
<label class="switch">
  <input type="checkbox" (input)="toggleSwitch($event)">
  <span class="slider round"></span>
</label>
<app-waveform-widget [oscillator]="oscillator"></app-waveform-widget>
<app-frequency-widget [oscillator]="oscillator"></app-frequency-widget>
<app-detune-widget [oscillator]="oscillator"></app-detune-widget>
<div>
  <label>Volume
    <input type="range" name="volume" min="0" max="1"  step="0.01" (input)="changeVolume($event)">
  </label>
</div>
<button (click)="addDelay()">Add Delay</button>
<button (click)="removeDelay()">Remove Delay</button>
<div>
  <label>Delay Time
    <input type="range" name="volume" min="0" max="1" step="0.01" (input)="setDelayTime($event)">
  </label>
</div>
