<h1>NOISE GENERATOR</h1>
<button (click)="startOscillator()">Start</button>
<button (click)="stopOscillator()">Stop</button>
<select [(ngModel)]="oscillatorType" (ngModelChange)="selectWaveform(oscillatorType)">
  <option value="sine">Sine</option>
  <option value="square">Square</option>
  <option value="sawtooth">Sawtooth</option>
  <option value="triangle">Triangle</option>
</select>
<div>
  <input type="range" id="start" name="volume" min="0" max="2000" (input)="changeFrequency($event)">
  <label>Frequency</label>
</div>
